Token.yml
.bundle
doc/maruko_dic.txt
last_reply_id.txt
*.sw*
*.pid
.env
.DS_Store
doc/css/*
doc/js/*
doc/index.html
doc/_index.html
doc/file.README.html
doc/class_list.html
doc/file_list.html
doc/frames.html
doc/index.html
doc/method_list.html
doc/top-level-namespace.html
